@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body {
    background-color: #f7f7f7;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#container{
    width: 350px;
}

.control-of-expenses .balance-wrapper{
    margin: 35px 0;
}

.balance-wrapper .current-balance{
    margin-bottom: 30px;
}

strong{
    color: #2e75cc;
    font-size: 2rem;
}

h4{
    font-size: 1.3rem;
    text-transform: uppercase;
}

h3{
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 20px;
}

.balance-wrapper .balance{
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.balance > div{
    flex: 1;
    text-align: center;
}

.balance > div:first-of-type{
    border-right: 1px solid #dedede;
}

.money{
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 10px;
    display: block;
}
  
.money.plus{
    color: #2ecc71;
}
  
.money.minus{
    color: #c0392b;
}

label{
    display: inline-block;
    margin: 10px 0;
}

input[type='text'],
input[type='number']{
    width: 100%;
    padding: 10px;

    border: 1px solid #dedede;
    border-radius: 2px;
    font-size: 16px;
}

button{
    width: 100%;
    margin: 10px 0 30px;
    padding: 10px;

    background-color: #9c88ff;
    color: #fff;

    border: 0;
    font-size: 16px;

    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover{
    background: #fff;
    color: #9c88ff;
}

.transactions-block{
    max-height: 300px;
    overflow-y: auto;
}

.transactions-block .transactions-details + .transactions-details{
    margin-top: 10px;
}

.transactions-details{
    background-color: #fff;
    box-shadow: var(--box-shadow);

    cursor: pointer;
}

.transactions-details > div{
    padding: 14px;
    display: flex;
    justify-content: space-between;
}